@import 'tailwindcss';

.parentZibra .childZebra:nth-child(odd) {
  background-color: #e5e5e5;
}
.parentZibra .childZebra:nth-child(even) {
  background-color: #f9f9f9;
}
.paused {
  animation-play-state: paused;
}
